@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
}

:root {
    --blue: hsl(231, 69%, 60%);
    --red: hsl(0, 94%, 66%);
    --grayishBlue: hsl(229, 8%, 60%);
    --darkBlue: hsl(229, 31%, 21%);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    z-index: 1;
}


/* Navbar */

nav {
    outline: 1px solid black;
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.nav-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: none;
}


/* Header */

header {
    width: 100%;
}

header .svg-container {
    display: flex;
    position: relative;
    padding: 0 .5rem .5rem .5rem;
}

.overlay-right::after {
    content: "";
    position: absolute;
    width: 78%;
    height: 78%;
    background: var(--blue);
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 30%;
}

.header-content {
    padding: 0 2rem;
}

.header-content h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--darkBlue);
    margin-top: 3.2rem;
}

header button, .extension-container button, .faq-container button {
    border: none;
    padding: .9rem 1rem;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    box-shadow: 0 5px 5px #e0e0e0;
}

header button:first-child {
    margin-right: .3rem;
}

header button:last-child {
    margin-left: .3rem;
    font-weight: 500;
}


/* Features Section */

.features {
    padding: 0 2rem;
    margin-top: 9.5rem;
}

.tabs {
    border-bottom: 1px solid #e0e0e0;
    margin: 0 2rem;
}

.tabs .tab-header {
    border-top: 1px solid #e0e0e0;
}

.tabs .tab-header p {
    padding: 1rem 0;
    color: var(--darkBlue);
    width: fit-content;
    margin: 0 auto;
}

.active {
    border-bottom: 4px solid var(--red);
    color: #000;
    font-weight: 500;
}

.tab {
    margin: 4.5rem 0;
}

.tab .svg-container {
    padding: 0 2rem;
    padding-bottom: 2rem;
    outline: 2px solid violet;
    position: relative;
}

.overlay-left::before {
    content: "";
    position: absolute;
    width: 78%;
    height: 85%;
    background: var(--blue);
    left: 0;
    bottom: 0;
    border-radius:0 0 30% 0;
    z-index: -1;
}

.tab-content {
    padding: 2.5rem 1.8rem;
}

.tab-content button {
    display: none;
}


/* Extension Section */

.extension-container {
    padding: 0 2rem;
}

.cards .card {
    box-shadow: 0 10px 12px #ececec;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 280px;
    border-radius: 15px;
    padding-top: 3rem;
}

.card div:first-child {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.card div:last-child {
    padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}

.card div:last-child button {
    width: 100%;
}

.card .card-text h5 {
    font-size: 19px;
    margin-top: 1.9rem;
    color: var(--darkBlue);
}

.card .card-text p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .3px;
    padding: .5rem 0 1.5rem 0;
    color: var(--grayishBlue);
}


/* FAQ Section */

.faq-container {
    padding: 0 2rem;
    margin: 9rem 0;
}

.faq {
    border-bottom: 1px solid #e0e0e0;
    padding: 1.5rem 0
}

.faq-header {
    position: relative;
}

.faq-header h4 {
    font-weight: 400;
    font-size: 15px;
    align-self: flex-start;
}

.faq-header div {
    position: absolute;
    width: 18px;
    height: 25px;
    top: 0;
    right: 0;
}

.faq p {
    /* display: none; */
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.6;
}
/* .faq-header div:hover {
    top: -10px;
    right: 0;
    transform: rotate(180deg);
} */

/* Links Section */

.links {
    background: var(--darkBlue);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Utilities */

.heading {
    font-size: 24px;
    font-weight: 600;
}

.content {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.6;
    color: var(--grayishBlue);
    padding: 1.2rem 0 2rem 0;
}

.margin {
    margin: 2rem 0;
}

.red {
    color: var(--red);
}

.white {
    color: #ffffff;
}

.gray {
    color: gray;
}

.blue-bg {
    background: var(--blue);
}

.gray-bg {
    background: var(--grayishBlue);
}

.uppercase {
    text-transform: uppercase;
}

.center-text {
    text-align: center;
}

/* Responsive Styling */

@media (min-width: 768px) {
    nav {
        padding: 3rem 0;
    }

    .nav-brand .icon-hamburger {
        display: none;
    }

    .nav-links, .nav-links ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links ul li, .nav-links button {
        margin-right: 2.5rem;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .login-btn {
        border: 0;
        background: var(--red);
        border-radius: 7px;
        padding: .9rem 2.5rem;
    }
}