@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
}

:root {
    --blue: hsl(231, 69%, 60%);
    --red: hsl(0, 94%, 66%);
    --grayishBlue: hsl(229, 8%, 60%);
    --darkBlue: hsl(229, 31%, 21%);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    z-index: 1;
}


/* Navbar */

nav {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.nav-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: none;
}

.nav-links button:hover, .uppercase li:hover {
    color: var(--red);
}

.uppercase li {
    transition: all .2s ease-in;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(229, 31%, 21%, 0.9);
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2rem 2rem;
    z-index: 2;
    transform: translateX(-100%);
    transition: all .2s ease-in;
}

.menu .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0 2rem 0;
    width: 100%;
}

.menu ul li {
    font-weight: 300;
    padding: 1.2rem 0;
    font-size: 18px;
    border-bottom: 1px solid hsla(229, 8%, 60%, 0.404);
    letter-spacing: 2.5px;
    text-align: center;
    width: 100%;
}

.menu ul li:first-child {
    border-top: 1px solid hsla(229, 8%, 60%, 0.404);
}

.menu a {
    width: 100%;
}

.menu .login-btn {
    width: 100%;
    outline: none;
    border: 2px solid #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    background: inherit;
    border-radius: 7px;
    padding: .7rem 2.5rem;
    box-shadow: none;
    transition: all .2s ease-in;
}

.menu .login-btn:hover, .menu .login-btn:active {
    border: 2px solid #ffffff;
}

.menu .links-icon {
    display: flex;
    width: 90px;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.links-icon div {
    width: 22px;
    height: 23px;
    cursor: pointer;
}

svg path {
    transition: all .2s ease-in;
}

.links-icon div:hover svg path {
    fill: var(--red)
}

.links-icon div:last-child {
    height: 21px;
}

/* Header */

header {
    width: 100%;
    position: relative;
}

header .svg-container {
    display: flex;
    padding: 0 .5rem .5rem .5rem;
    position: relative;
}

.overlay-right::after {
    content: "";
    position: absolute;
    width: 78%;
    height: 78%;
    background: var(--blue);
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 30%;
}

.header-content {
    padding: 0 2rem; 
    text-align: center;
}

.header-content h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--darkBlue);
    margin-top: 3.2rem;
}

.header-content div {
    margin: 0 -2rem;
    text-align: center;
}

header button:first-child {
    margin-right: .3rem;
    border: 2px solid var(--blue);
}

header button:first-child:hover, .mi-btn:hover, .card div:last-child button:hover {
    background: #ffffff;
    color: var(--blue);
}

header button:last-child {
    margin-left: .3rem;
    border: 2px solid #f0f0f0;
    font-weight: 500;
}

header button:last-child:hover {
    color: var(--darkBlue);
    border: 2px solid var(--darkBlue);
    background: #ffffff;
}


/* Features Section */

.features {
    padding: 0 2rem;
    margin-top: 9.5rem;
}

.tabs {
    border-bottom: 1px solid #e0e0e0;
    margin: 0 2rem;
}

.tabs .tab-header {
    border-top: 1px solid #e0e0e0;
}

.tabs .tab-header p {
    padding: 1rem 0;
    color: var(--darkBlue);
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s ease-in;
}

.tabs .tab-header p:hover {
    color: var(--red);
}

.tabs .tab-header .active:hover {
    color: #000;
}

.active {
    border-bottom: 4px solid var(--red);
    font-weight: 500;
}

.tab {
    margin: 4.5rem 0;
}

.tab .svg-container {
    padding: 0 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.overlay-left::before {
    content: "";
    position: absolute;
    width: 78%;
    height: 85%;
    background: var(--blue);
    left: 0;
    bottom: 0;
    border-radius:0 0 30% 0;
    z-index: -1;
}

.tab-content {
    padding: 2.5rem 1.8rem;
}

.tab-content button {
    display: none;
}


/* Extension Section */

.extension-container {
    padding: 0 2rem;
}

.cards .card {
    box-shadow: 0 10px 12px #ececec;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 280px;
    border-radius: 15px;
    padding-top: 3rem;
}

.card div:first-child {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.card div:last-child {
    padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}

.card div:last-child button {
    border: 2px solid var(--blue);
    width: 100%;
}

.card .card-text h5 {
    font-size: 19px;
    margin-top: 1.9rem;
    color: var(--darkBlue);
}

.card .card-text p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .3px;
    padding: .5rem 0 1.5rem 0;
    color: var(--grayishBlue);
}


/* FAQ Section */

.faq-container {
    padding: 0 2rem;
    margin: 9rem 0 7.5rem 0;
}

.faq {
    border-bottom: 1px solid #e0e0e0;
    padding: 1.5rem 0;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease-in;
    cursor: pointer;
}

.faq-header:hover {
    color: var(--red);
}

.faq-header h4 {
    font-weight: 400;
    font-size: 15px;
}

.faq p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 2;
    padding-top: 2rem;
}

.faq-container div:last-child {
    margin-top: 3rem;
}

.mi-btn {
    padding: .9rem 1.5rem;
    border: 2px solid var(--blue);
}

.faq-header svg {
    transition: all .2s ease-in;
}


/* Contact Section */

.contact-container {
    padding: 4.5rem 2rem 4rem 2rem;
}

.contact-container h6 {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 5px;
}

.contact-container h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 1rem 0 2rem 0;
}

.email-field {
    border-radius: 6px;
    position: relative;
}

.email-field img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18%;
    right: 2%;
    transform: translate(-18%, -2%);
}

.email-input {
    width: 100%;
    box-shadow: none;
    background: white;
}

.email-input:focus {
    outline: none;
}

.email-input::placeholder {
    color: #cfcfcf;
}

.email-field div {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    padding: .5rem 0 .5rem 1rem;
    border-radius: 0 0 6px 6px;
    transition: all .2s ease-in;
}

.contact-btn {
    width: 100%;
    box-shadow: none;
    margin-top: 1rem;
    border: 2px solid var(--red);
    padding: .8rem 0;
}

.contact-btn:hover {
    background: #ffffff;
    color: var(--red);
}

/* Links Section */

.links {
    background: var(--darkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2.5rem 0;
}

.links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0;
}

.links ul li {
    font-weight: 300;
    margin-top: 2rem;
    font-size: 14px;
    letter-spacing: 2.5px;
}

.links ul li:first-child {
    margin-top: 0;
}

.links .links-icon {
    display: flex;
    width: 90px;
    justify-content: space-between;
    align-items: center;
}

.links .links-icon div {
    width: 22px;
    height: 23px;
    cursor: pointer;
}

svg path {
    transition: all .2s ease-in;
}

.links .links-icon div:hover svg path {
    fill: var(--red)
}

.links .links-icon div:last-child {
    height: 21px;
}

footer {
    padding: 0 0 2rem 0;
}

footer {
    background: var(--darkBlue);
}

.attribution {
    color: #ffffff;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    text-decoration: underline;
}


/* Utilities */

.heading {
    font-size: 24px;
    font-weight: 600;
}

.content {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.6;
    color: var(--grayishBlue);
    padding: 1.2rem 0 2rem 0;
}

button, input {
    outline: none;
    border: none;
    padding: .9rem 1rem;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    box-shadow: 0 5px 5px #e0e0e0;
}

button {
    cursor: pointer;
    transition: all .2s ease-in;
}

button:active, input:focus {
    outline: none;
    box-shadow: none;
}

.margin {
    margin: 2rem 0;
}

.red {
    color: var(--red);
}

.white {
    color: #ffffff;
}

.gray {
    color: rgb(109, 108, 108);
}

.red-bg {
    background: var(--red);
}

.blue-bg {
    background: var(--blue);
}

.gray-bg {
    background: var(--grayishBlue);
}

.uppercase {
    text-transform: uppercase;
}

.center-text {
    text-align: center;
}

.red-stroke {
    stroke: var(--red);
}

.open {
    transform: rotate(180deg);
}

.show {
    display: block;
}

.hide {
    display: none;
}

.red-bd {
    border: 2px solid var(--red);
}

.show-menu {
    transform: translateX(0);
}

/* Responsive Styling */

@media (max-width: 320px) {
    .header-content button:first-child {
        margin: 0 0 1.5rem 0;
    }

    .header-content button:first-child {
        margin-left: 0;
    }

    .cards .card {
        width: fit-content;
    }

    .faq-header svg{
        overflow: visible;
        width: fit-content;
        height: 100%;
    }
}

@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 0 2rem;
    }

    header:after {
        content: "";
        position: absolute;
        width: 35%;
        height: 78%;
        background: var(--blue);
        right: 0;
        bottom: 0;
        border-bottom-left-radius: 30%;
    
    }

    header .svg-container {
        padding: 0;
        padding-left: 3.5rem;
        width: 50%;
    }

    .overlay-right::after {
        display: none;
    }

    header .header-content {
        text-align: left;
        width: 50%;
        padding: 0;
    }

    .header-content h1 {
        margin-top: 2rem;
    }

    .header-content div {
        text-align: left;
        margin: 0;
    }

    header button {
        letter-spacing: 0;
        padding: .8rem 1.2rem;
    }

    header button:first-child {
        font-size: 13px;
        margin-right: .5rem;
    }
    
    header button:last-child {
        margin-left: .5rem;
        font-size: 13px;
    }

    .features {
        width: 480px;
        padding: 0;
        margin: 0 auto;
        margin-top: 9.5rem;
    }
    
    .tabs-container {
        position: relative;
    }

    .tabs-container::before {
        content: "";
        position: absolute;
        width: 44%;
        height: 62%;
        background: var(--blue);
        left: 0;
        bottom: -8%;
        transform: translate(0, 8%);
        border-radius:0 0 30% 0;
        z-index: -1;
    }

    .tabs {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: fit-content;
    }

    .tabs .tab-header {
        border-top: 0;
    }
    
    .tabs .tab-header p {
        padding: 1.5rem 2.5rem;
        color: var(--darkBlue);
        width: fit-content;
        margin: 0 auto;
    }

    .overlay-left::before {
        display: none;
    }

    .tab {
        display: flex;
        justify-content: center;
        padding: 0 2rem;
    }

    .tab .svg-container {
        width: 50%;
        padding: 0;
        padding-left: 2rem;
        position: relative;
    }

    .tab .svg-container img {
        height: 100%;
    }

    .tab .tab-content {
        width: 50%;
        padding: 3rem 0 0rem 2.5rem;
        text-align: left;
    }

    .tab-content button {
        display: block;
    }

    .extension-container {
        margin-top: 11rem;
    }

    .extension-container > p {
        width: 480px;
        margin: 0 auto;
    }

    .faq-container {
        padding: 0;
        margin: 9rem auto 7.5rem auto;
        width: 450px;
    }

    .contact-container {
        padding: 4.5rem 0 4rem 0;
    }

    .contact-container h3 {
        font-size: 28px;
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .contact-container > div {
        width: 450px;
        margin: 0 auto;
    }

    .email {
        display: flex;
        justify-content: space-evenly;
    }
    
    .email-field {
        width: 65%;
    }

    .contact-btn {
        width: 25%;
        margin-top: 0;
        align-self: flex-start;
    }

    .links {
        flex-direction: row;
        justify-content: flex-start;
        padding: 1.5rem 2rem;
    }
    
    .links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    
    .links ul li {
        margin-top: 0;
        margin-left: 2.5rem;
    }

    .menu {
        min-width: 65%;
    }
    
    .menu .links-icon {
        align-items: center;
        margin: 0 auto;
        margin-top: auto;
    }

    .links-icon {
        margin-left: auto;
        display: flex;
        width: 90px;
        justify-content: space-between;
        align-items: center;
    }
    
    .links-icon div {
        width: 22px;
        height: 23px;
    }
    
    .links-icon div:last-child {
        height: 21px;
    }

    .show {
        display: flex;
    }

    .hide {
        display: none;
    }
}

@media (min-width: 992px) {
    nav {
        padding: 3rem 4rem;
    }

    header {
        padding: 0 4rem;
    }

    .header-content {
        margin-bottom: 4rem;
    }

    .header-content h1 {
        font-size: 40px;
        line-height: 1.1;
        margin-top: 4.2rem;
    }

    header .svg-container {
        padding-left: 1rem;
    }

    header .svg-container img {
        width: 460px;
    }

    .tabs-container::before {
        width: 44%;
        height: 65%;
        left: 0;
        bottom: -10%;
        transform: translate(0, 10%);
    }

    .tab {
        padding: 0 4rem;
    }

    .tab .tab-content {
        width: 50%;
        padding: 3rem 0 0rem 3.5rem;
        text-align: left;
    }

    .cards {
        display: flex;
        margin: 0 auto;
        width: 950px;
        height: 480px;
        justify-content: center;
        align-items: center;
    }

    .card:first-child {
        align-self: flex-start;
    }

    .card:last-child {
        align-self: flex-end;
    }

    .menu {
        min-width: 50%;
        padding: 3rem 2rem;
    }
}

@media (min-width: 1024px) {
    nav {
        padding: 3rem;
        margin: 0 auto;
    }

    .nav-brand .icon-hamburger {
        display: none;
    }

    .nav-links, .nav-links ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links ul li {
        margin-right: 2.5rem;
        font-size: .85rem;
        letter-spacing: 1px;
        transition: all .2s ease-in;
    }

    .menu {
        display: none;
    }

    .login-btn {
        outline: none;
        border: 2px solid var(--red);
        font-size: .85rem;
        letter-spacing: 1px;
        background: var(--red);
        border-radius: 7px;
        padding: .9rem 2.5rem;
        transition: all .2s ease-in;
    }

    .login-btn:hover, .login-btn:active {
        border: 2px solid var(--red);
        background: #ffffff;
    }

    .login-btn:active {
        box-shadow: none;
    }

    header {
        padding: 0;
        justify-content: center;
    }

    header .svg-container {
        width: fit-content;
        padding-left: 5rem;
    }
    
    header .svg-container img {
        width: 520px;
        height: 380px;
    }
  
    header .header-content {
        text-align: left;
        width: 425px;
        margin-right: -4rem;
    }

    header button {
        letter-spacing: 0;
        padding: .8rem 1.2rem;
    }

    header:after {
        content: "";
        position: absolute;
        width: 38%;
        height: 74%;
        background: var(--blue);
        right: 0;
        bottom: -14px;
        border-bottom-left-radius: 30%;
    
    }

    .tab .tab-content {
        width: 420px;
        padding: 3rem 0 0rem 3.5rem;
        text-align: left;
    }

    .tab .svg-container {
        width: 550px;
        padding: 0;
    }

    .tab .svg-container img {
        width: 450px;
        height: 100%;
    }

    .content {
        font-weight: 400;
        letter-spacing: .1px;
        line-height: 1.6;
        color: var(--grayishBlue);
        padding: 1.2rem 0 2rem 0;
    }

    .margin {
        margin: 4rem 0;
    }
}

@media (min-width: 1280px) {
    nav {
        padding: 2rem 0;
        margin: 0 auto;
        width: 1070px;
    }

    .links-container {
        background: var(--darkBlue);
    }

    .links {
        width: 1130px;
        margin: 0 auto;
    }

    header .header-content {
        width: 50%;
    }

    header .svg-container {
        width: 50%;
    }
    
    header .svg-container img {
        margin-left: 3.5rem;
        width: 550px;
        height: 430px;
    }

    header .header-content {
        width: 540px;
        padding-left: 4rem;
        padding-top: 1rem;
    }

    header .header-content h1 {
        font-size: 42px;
    }

    .tab {
        justify-content: space-evenly;
    }
    
    .tabs-container::before {
        width: 44%;
        height: 65%;
        left: 0;
        bottom: -10%;
        transform: translate(0, 10%);
    }

    .tab .svg-container {
        width: 500px;
    }

    .tab .svg-container img {
        width: 100%;
        height: 100%;
    }

    .content {
        font-size: 18px;
    }
}

@media (min-width: 1440px) {
    header, .tabs-container {        
        width: 1440px;
    }

    .tabs-container {
        margin: 0 auto;
    }

    .margin{
        margin: 4rem auto;
    }
}